#app{
    width: 100%;
    height: 100%;
    background-color: #252525;
    display: flex;
}

#explorer{
    width: 200px;
    height: 800px;
    border: 1px solid black;
}

#container{
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

#tab{
    width: 100%;
    height: 30px;
    border: 1px solid black;
}

/* .root {

} */
/*Begin:: Explorer*/
.root ul {
    padding-left: 20px;
    list-style-type: none;
}

.explorer-icons {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin-top: 4px;
}

.explorer-icon {
    user-select: none;
    cursor: pointer;
    color: white;
    padding: 4px;
    margin: 0 3px;
}

.selected {
    background-color: rgba(148, 175, 255, 0.87)
}


/*search start*/

.searchPanel {
  background-color: rgba(30, 30, 30, 96%);
  color: #0e6b0e;
  width: 700px;
  overflow: auto;
  height: 500px;
  max-height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

#closeButton {
  height: 25px;
  width: 25px;
  float: right;
  font-size: large;
}

#searchBtn{
  height: 50px;
}

/*search end*/
li[data-name] {
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    color: white;
}

li.folder[data-name]:before {
    font-family: "Font Awesome 5 Free";
    color: #FFBA1F;
    content: "\f07b";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    padding-left: 1px;
    padding-right: 4px;
}

li.folder.expand[data-name]:before {
    font-family: "Font Awesome 5 Free";
    color: #FFBA1F;
    content: "\f07c";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    padding-right: 2px;
}

li.file:before {
    font-family: "Font Awesome 5 Free";
    color: #3778EA;
    content: "\f15c";
    display: inline-block;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 6px;
}

li.file.js:before {
    font-family: "Font Awesome 5 Brands";
    color: #FEE650;
    content: '\f3b9';
    padding-left: 1px;
    padding-right: 5px;
}

li.file.css:before {
    font-family: "Font Awesome 5 Brands";
    color: #264de4;
    content: '\f38b';
    padding-left: 2px;
    padding-right: 6px;
}

li.file.html:before {
    font-family: "Font Awesome 5 Brands";
    color: #E44D26;
    content: '\f13b';
    padding-left: 2px;
    padding-right: 6px;
}

.folder.expand > ul {
    display: block;
}

.folder > ul {
    display: none;
}
/*End:: Explorer*/

#terminal{
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    overflow: scroll;
    height: 300px;
    background-color: black;
  }
#terminalBtn{
  position: absolute;
  bottom: 0;
  right: 0;
}
.log{
    width:100%;
    width: all;
    border: none;
    color:green;
    background-color:black;
    font-weight:1000
  }
.log:focus{
    border: none;
    outline: none;
  }
.path{
    display: inline-block;
    width: auto;
    color:green;
    font-weight:1000
  }
.logP{
    display: inline-block;
    width: 45%;
  }
  #closeTerminal{
    right: 0;
    position: absolute;
    width: 20px;
  }
  .main{
    margin: 5px;
  }
  .termNav{
    position: relative;
  }

  @media (max-width: 900px){
    .logP{
      width: 30%;
    }
  }
  
