body {
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #252525;
  display: flex;
  position: fixed;
  font-family: 'Roboto Mono', monospace;
}
.font{
  font-family: 'Roboto Mono', monospace;
}

#tab {
  width: 100%;
  height: 30px;
}

#content {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  white-space: nowrap;
  background: #081a20;
  color: white;
}

#editor {
  height: calc(100% - 75px);
}

#container.terminal-open #editor {
  height: calc(100% - 375px);
}

#footer {
  height: 40px;
  border-top: 1px solid #565151;
}

/*Begin:: Scrollbar*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*End:: Scrollbar*/

/*Begin:: Explorer*/
.explorer {
  position: relative;
  overflow: hidden;
  padding-left: 40px;
}

.explorer.explorer-closed {
  display: none;
}

.explorer .overlay {
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: none;
}

.root {
  overflow: auto;
  height: calc(100% - 28px);
}

.root ul {
  padding-left: 15px;
  list-style-type: none;
}

.root>ul {
  width: fit-content;
  min-width: 100%;
  padding-bottom: 10px;
}

.explorer-icons {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin-top: 4px;
  margin-right: 10px;
}

.explorer-icon {
  user-select: none;
  cursor: pointer;
  color: white;
  padding: 4px;
  margin: 0 3px;
}

.selected {
  position: relative;
  width: calc(100% - 21px);
  display: inline-block;
  z-index: 1;
}

.selected:before {
  content: '';
  position: absolute;
  width: calc(100% + 20px);
  height: 20px;
  background-color: #163e72;
  margin-left: -22px;
  z-index: -1;
  border-radius: 2px;
}

li[data-name] {
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  color: white;
}

li[data-name] > span {
  padding-right: 5px;
}

li.folder:before {
  font-family: "Font Awesome 5 Free";
  color: #FFBA1F;
  content: "\f07b";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  padding-left: 1px;
  padding-right: 4px;
  z-index: 2;
  position: relative;
}

li.folder.expand:before {
  font-family: "Font Awesome 5 Free";
  color: #FFBA1F;
  content: "\f07c";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  padding-right: 2px;
}

li.file:before {
  font-family: "Font Awesome 5 Free";
  color: #3778EA;
  content: "\f15c";
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 6px;
  z-index: 2;
  position: relative;
}

li.file.js:before {
  font-family: "Font Awesome 5 Brands";
  color: #FEE650;
  content: '\f3b9';
  padding-left: 1px;
  padding-right: 5px;
}

li.file.css:before {
  font-family: "Font Awesome 5 Brands";
  color: #264de4;
  content: '\f38b';
  padding-left: 2px;
  padding-right: 6px;
}

li.file.html:before {
  font-family: "Font Awesome 5 Brands";
  color: #E44D26;
  content: '\f13b';
  padding-left: 2px;
  padding-right: 6px;
}

.folder.expand > ul {
  display: block;
}

.folder > ul {
  display: none;
}

.create-input-field {
  width: calc(100% - 20px);
  position: relative;
  z-index: 15;
  outline: none;
}

.create-input-field.danger {
  border-color: red;
}

.input {
  position: relative;
}

.input .warning {
  position: absolute;
  top: 19px;
  left: 20px;
  font-size: 14px;
  line-height: 15px;
  width: calc(100% - 20px);
  background: #60161E;
  color: white;
  border: 1px solid red;
  border-top: none;
  z-index: 20;
  white-space: normal;
}

.rename-input {
  width: calc(100% - 20px);
  position: relative;
  z-index: 15;
  outline: none;
}

.rename-input.danger {
  border-color: red;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  z-index: 20;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 10px;
  white-space: nowrap;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*End:: Explorer*/

/*Begin:: Explorer drag&drop*/

.droppable-hover {
  background-color: rgba(112, 3, 94, 0.5)
}

/*End:: Explorer drag&drop*/

/* auth */

#errorMessage{
  position: absolute;
  width: 330px;
  text-align: center;
  color: #E44D26;
  top: 17px;
  left: 50%;
  margin-left: -165px;
}

#authForm {
  padding-top: 62px;
}

#authForm>button{
  background-color:#fff;
  color: #252525;
  height: 30px;
  display:block;
  margin: 20px auto;
  width: 300px;
  border-radius: 4px;
  border: none;
  outline: none;
}
#authForm>div>input{
  display:block;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 6px 6px 6px 25px;
  position: relative;
  border-radius: 4px;
  background-color: #E8EDFF;
  width: 100%;
}

#submit-button .fa-spinner {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

.email-container, .password-container {
  position: relative;
  margin: 0 auto 25px;
  width: 300px;
}

.email-container i, .password-container i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 25;
}

#authModal{
  width: 400px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4c4e53;
  display: none;
  z-index: 20;
  border: 1px solid gray;
  border-radius: 4px;
}

#signin{
  position: absolute;
  padding: 5px;
  background-color:black;
  color: #fff;
  border-radius: 20%;
  bottom: 5px;
  left: 8px;
}
#signout{
  position: absolute;
  padding: 5px;
  background-color:black;
  color: #fff;
  border-radius: 20%;
  bottom: 5px;
  left: 8px;
  display: none;
}

#signup{
  position: absolute;
  padding: 5px;
  background-color:black;
  color: #fff;
  border-radius: 20%;
  bottom: 5px;
  left: 83px;
}
#emailP{
  position: absolute;
  padding: 5px;
  color: #fff;
  bottom: 6px;
  left: 84px;
}

#save{
  position: absolute;
  padding: 5px 7px;
  background-color:black;
  color: #fff;
  border-radius: 20%;
  bottom: 5px;
  right: 40px;
}
#save:disabled{
  background-color:#5F5F5F;
  cursor: default;
}

#closeModal{
  padding: 0;
  position: absolute;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  right: 3px;
  top: 3px;
  border: 0;
  font-size: 19px;
  color: white;
  background: none;
  outline: none;
}

/*Start:: Explorer resizing*/

body {
  height: 100vh;
  --left-width: 300px;
}

body.resizing {
  cursor: col-resize;
}

#container, #explorer, #dragbar {
  top: 0;
  height: 100%;
  position: absolute;
}

#sidebar {
  width: 40px;
  height: 100%;
  background-color: #333333;
  position: relative;
  z-index: 15;
  display: flex;
  flex-direction: column;
}

#sidebar .sidebar-icon {
  color: white;
  font-size: 32px;
  margin: 26px 0 0 6px;
  cursor: pointer;
}

#explorer {
  width: var(--left-width);
}

#container {
  right: 0;
  overflow: hidden;
  width: calc(100% - var(--left-width));
}

#container.explorer-closed {
  width: calc(100% - 40px)
}

#dragbar {
  right: 0;
  width: 4px;
  opacity: 0;
  z-index: 1;
  cursor: col-resize;
  background: #0099e5;
  transition: 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

#dragbar:hover, body.resizing #dragbar {
  opacity: 1;
  transition: 0.3s ease-in-out 0s;
}

/*End:: Explorer resizing*/

/*Start:: search*/

.searchPanel {
  background-color: rgba(37, 37, 38, 0.98);
  color: #0e6b0e;
  width: 700px;
  overflow: auto;
  height: 500px;
  max-height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  z-index: 10;
}

#topPanel > * {
  display: block;
  color : rgb(196, 190, 176);
  margin-left: 10px;
  font-weight: 300;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#closeButton {
  height: 25px;
  width: 25px;
  float: right;
  font-size: large;
  background-color: rgba(37, 37, 38, 1);
  color: lightskyblue;
  border: 0;
}

#header {
  height: 25px;
  background-color: rgba(37, 37, 38, 1);
}

.input-group {
  width: 97%;
  background-color: rgba(60, 60, 60, 1);
  border: 0px;
  padding-left: 2px;
}

.input-group:focus {
  outline: none;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  border: 1px solid #11998e;
  box-shadow: 0 0 3px #11998e;
  font-weight: 700;
  color : white;
  padding-left: 4px;
}

.res {
  margin-left: 10px;
  font-weight: 100px;
  font-size: small;
}

/*End :: search*/

/* Terminal */
button{
  cursor: pointer;
}

#terminal {
  font-family: monospace;
  display: none;
  position: absolute;
  bottom: 40px;
  z-index: 1;
  width: 100%;
  height: 300px;
  background-color: black;
  border-top: 1px solid #484646;
}
#terminalContent {
  height: 300px;
  overflow: auto;
}
#terminalBtn{
  position: absolute;
  padding: 5px;
  background-color:black;
  color: #fff;
  border-radius: 20%;
  bottom: 5px;
  right: 5px;
}
.log{
    font-family: monospace;
    width:100%;
    border: none;
    color:green;
    background-color:black;
    font-weight:900
  }
.log:focus{
    border: none;
    outline: none;
  }
.path{
    display: inline-block;
    width: auto;
    color:green;
    font-weight:900
  }
.logP{
    display: inline-block;
    width: 45%;
  }
  #closeTerminal{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 20%;
    right: 10px;
    top: 10px;
    border: 0;
  }
  .main{
    margin: 5px;
  }
  .termNav{
    position: relative;
  }

  @media (max-width: 900px){
    .logP{
      width: 40%;
    }
  }
  
/*Begin:: Tabs*/
#tabs {
  height: 35px;
  overflow-x: auto;
  overflow-y: hidden;
}
.tabs-container {
  display: flex;
  list-style: none;
  color: white;
  background-color: #252525;
  height: 100%;
}
.tabs-container .tab {
  cursor: pointer;
  background-color: #2D2D2D;
  margin-right: 2px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 10px 6px;
  min-width: 100px;
  color: #d3d3d3;
  flex-shrink: 0;
}
.tabs-container .tab.tab-active {
  background-color: #1E1E1E;
  color: white;
}
.tab-name {
  padding-right: 10px;
  user-select: none;
  white-space: nowrap;
}
.tab-close {
  font-size: 13px;
  line-height: 18px;
}
.tab.html .tab-name:before {
  font-family: "Font Awesome 5 Brands";
  color: #E44D26;
  content: '\f13b';
  padding-left: 2px;
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
.tab.css .tab-name:before {
  font-family: "Font Awesome 5 Brands";
  color: #264de4;
  content: '\f38b';
  padding-left: 2px;
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
.tab.js .tab-name:before {
  font-family: "Font Awesome 5 Brands";
  color: #FEE650;
  content: '\f3b9';
  padding-left: 1px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.tab.file .tab-name:before {
  font-family: "Font Awesome 5 Free";
  color: #3778EA;
  content: "\f15c";
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 6px;
  z-index: 2;
  position: relative;
}
.tab.file:before {
  display: none;
}
/*End:: Tabs*/

/*Animations*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }